$color-primary:#f6f6f6;
$color-primary-dark:#838383;
$color-primary-light:#dddddd;
$color-grey:#777777;
$color-white:#fff;
$color-black:#141414;
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$default-font-size:1.2rem;
$brand-font-size:3.8rem;
$desc-font-size:1.8rem;
$primary-font:"Lato",sans-serif;
$color-secondary:#21bfb9;
$color-tertiary:#40975f;

