.header{
  padding: 4rem 0;
    background-color: $color-white;
    &__logo{
        float: left;
        text-align: left;
       
        @include respond(tab-port)
        {
            position: relative;
            top: 0;
            left: 50%;
        }
    }
    &__nav{
       
        @include respond(tab-port)
        {
           width: 100%;
           text-align: center;
           margin-top: 2rem;
           
           
        }
        @include respond(tab-land)
        {
            float: right;
           
        }
       
    }
    
}
.nav__item{
    display: inline-block;
    &:not(:first-child){
        margin-left: 2.8rem;
    }
}
.nav__list{
    list-style: none;
}
.nav__link{
    &:link,
    &:visited{
    text-decoration: none;
    }
    color: $color-black;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

}